<%- context = @project.identifier.gsub '-', '_' -%>
<%- content_for :header_tags do %>
  <%= stylesheet_link_tag 'tagging', :plugin => 'redmine_tagging' %>
<% end %>
<%= l(:tagging_selected_tags)%>: <% @tags.each do |tag| %> <%= tag %> <% end %><br/>
<table class="tags">
  <% if @issues.size > 0 %>
    <tr>
      <th colspan="3"><%= l(:label_issue_plural) %></th>
    </tr>

    <% @issues.each do |issue| %>
      <tr>
        <td class="tagged">
          <%= link_to("#{issue.tracker.name} #{issue.id}", {:controller => "issues", :action => "show", :project_id => @project.identifier, :id => issue}, {:class => (issue.closed? ? "closed" : "")}) %>
        </td>
        <td class="tagged">
          <%= link_to(issue.subject, {:controller => "issues", :action => "show", :project_id => @project.identifier, :id => issue}, {:class => (issue.closed? ? "closed" : "")}) %>
        </td>
        <td class="tags">
          <% issue.tag_list_on(context).sort.each do |tag| %>
            <%= link_to("##{tag}", {:controller => "tagging", :action => "index", :project_id => @project.identifier, :tags => tag}, {:class => 'tag'}) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>

  <% if @wikipages.size > 0 %>
    <tr>
      <th colspan="2"><%= l(:label_wiki_page_plural) %></th>
    </tr>

    <% @wikipages.each do |page| %>
      <tr>
        <td colspan="2" class="tagged">
          <%= link_to(page.title, {:controller => "wiki", :action => "index", :id => @project.identifier, :page => page.title}) %>
        </td>
        <td class="tags">
          <% page.tag_list_on(context).sort.each do |tag| %>
            <%= link_to("##{tag}", {:controller => "tagging", :action => "index", :project_id => @project.identifier, :tags => tag}, {:class => 'tag'}) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
