<% if @statuses.empty? or rows.empty? %>
    <p><i><%=l(:label_no_data)%></i></p>
<% else %>
<table class="list">
<thead><tr>
<th style="width:25%"></th>
<th align="center" style="width:25%"><%=l(:label_open_issues_plural)%></th>
<th align="center" style="width:25%"><%=l(:label_closed_issues_plural)%></th>
<th align="center" style="width:25%"><%=l(:label_total)%></th>
</tr></thead>
<tbody>
<% for tag in rows %>
<tr class="<%= cycle("odd", "even") %>">
  <td><%= render :partial => "tagging/taglink", :locals => {:tag => tag.name, :project => @project} %></td>
  <td align="center"><%= render :partial => "tagging/taglink", :locals => {
    :tag => tag.name,
    :project => @project,
    :name => aggregate(data, { field_name => tag.id, "closed" => 0 }),
    :status => "o"
  } %></td>
  <td align="center"><%= render :partial => "tagging/taglink", :locals => {
    :tag => tag.name,
    :project => @project,
    :name => aggregate(data, { field_name => tag.id, "closed" => 1 }),
    :status => "c"
  } %></td>
  <td align="center"><%= render :partial => "tagging/taglink", :locals => {
    :tag => tag.name,
    :project => @project,
    :name => aggregate(data, { field_name => tag.id }),
    :status => "*"
  } %></td>
</tr>
<% end %>
</tbody>
</table>
<% end
  reset_cycle %>